.pageListaProfissionais {
  max-width: 1200px;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-family: Arial, sans-serif;
}

/* GRID do formulário */
.form-card {
  background: #fff;
  border-radius: 12px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 5px;
}

/* Título ocupa toda a largura */
.form-card h3 {
  grid-column: 1 / -1;
  text-align: center;
  color: #0288D1;
  font-size: 22px;
}

.form-actions .primary {
  flex: 1;
  background: #0066cc;
  color: white;
  font-size: 15px;
  border-radius: 8px;
  border: none;
  
}

.form-actions .secondary {
  flex: 1;
  background: #fc0000;
  color: white;
  font-size: 15px;
  border-radius: 8px;
  border: none;
  
}



