/* ===========================
   LAYOUT GERAL
=========================== */

.pageUnidade {
  max-width: 1200px;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-family: Arial, sans-serif;
}
.form-actions .primary {
  flex: 1;
  background: #0066cc;
  color: white;
  font-size: 15px;
  border-radius: 8px;
  border: none;
}
.form-actions .secondary {
  flex: 1;
  background: #fc0000;
  color: white;
  font-size: 15px;
  border-radius: 8px;
  border: none;
}